<section class="section swiper-custom-container swiper-custom-container-2">
    <header class="section page-header">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-creative context-dark" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="80px" data-xl-stick-up-offset="80px" data-xxl-stick-up-offset="80px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand">
                  <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-426x55.png" alt="" width="213" height="27"><img class="brand-logo-light" src="images/logo-inverse-426x55.png" alt="" width="213" height="27"></a>
                </div>
              </div>
              <div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="services.html">Services</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="services.html">Services</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-service.html">Single Service</a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="projects.html">Projects</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="projects.html">Projects</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html">Grid Gallery</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="project-page.html">Project page</a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-menu rd-navbar-megamenu">
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title">About Us</h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">About us</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-service.html">Single service</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title">Additional Pages</h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 page</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="counters.html">Counters</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="icon-lists.html">Icon lists</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contacts.html">Contacts</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title">Elements</h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and accordions</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="grid-blog.html">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-blog.html">Grid blog</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-blog.html">Masonry blog</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="shop.html">Shop</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="shop.html">Shop</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-product.html">Single product</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="checkout.html">Checkout</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="cart-page.html">Cart page</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-collapse">
                  <ul class="rd-navbar-contacts-3">
                    <li><a class="phone" href="tel:#">+1 718-999-3939</a></li>
                    <li><a class="mail" href="mailto:#">infodemolink.org</a></li>
                  </ul><a class="button button-xs button-outline button-default-outline-2 button-winona" href="contacts.html"><span class="button-text">Get a quote</span><span class="icon linearicons-pencil"></span></a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="swiper-container swiper-slider swiper-slider-5 swiper-slider-6" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
      <div class="swiper-wrapper text-lg-start">
        <div class="swiper-slide context-dark" data-slide-bg="images/slide-1.jpg">
          <div class="swiper-slide-caption section-md">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10 col-xxl-12">
                  <div class="oh decor-classic"><span data-caption-animate="slideInLeft" data-caption-delay="0"></span></div>
                  <h3 class="swiper-title-2 oh"><span class="d-block" data-caption-animate="slideInDown" data-caption-delay="0">Award-winning</span><span class="d-block" data-caption-animate="slideInUp" data-caption-delay="0">Steelworks provider</span></h3>
                  <h6 class="oh swiper-subtitle-2"><span class="d-inline-block" data-caption-animate="slideInUp" data-caption-delay="300">Sustainable fabrication since 1959</span></h6>
                  <div class="button-wrap oh"><a class="button button-lg button-primary button-shadow button-winona" href="about-us.html" data-caption-animate="slideInDown" data-caption-delay="300">Learn More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="images/slide-2.jpg">
          <div class="swiper-slide-caption section-md">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10 col-xxl-12">
                  <div class="oh decor-classic"><span data-caption-animate="slideInLeft" data-caption-delay="0"></span></div>
                  <h3 class="swiper-title-2"><span class="d-block" data-caption-animate="fadeInLeft" data-caption-delay="250">Reliable</span><span class="d-block" data-caption-animate="fadeInLeft" data-caption-delay="400">Steel Fabrication</span></h3>
                  <h6 class="swiper-subtitle-2" data-caption-animate="fadeInUp" data-caption-delay="0">Solutions of high versatility</h6><a class="button button-lg button-primary button-shadow button-winona" href="about-us.html" data-caption-animate="fadeInUp" data-caption-delay="250">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="images/slide-3.jpg">
          <div class="swiper-slide-caption section-md">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10 col-xxl-12">
                  <div class="oh decor-classic"><span data-caption-animate="slideInLeft" data-caption-delay="0"></span></div>
                  <h3 class="swiper-title-2 oh d-inline-block"><span class="d-block" data-caption-animate="slideInRight" data-caption-delay="0">High-quality</span><span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="0">steel products</span></h3>
                  <h6 class="oh swiper-subtitle-2"><span class="d-inline-block" data-caption-animate="fadeInDown" data-caption-delay="200">Delivering quality steelworks</span></h6>
                  <div class="button-wrap"><a class="button button-lg button-primary button-shadow button-winona" href="about-us.html" data-caption-animate="fadeInUp" data-caption-delay="200">Learn More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination swiper-pagination-2"></div>
        <ul class="list-share-2">
          <li><a class="icon mdi mdi-facebook" href="#"></a></li>
          <li><a class="icon mdi mdi-twitter" href="#"></a></li>
          <li><a class="icon mdi mdi-instagram" href="#"></a></li>
          <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
        </ul>
        <div class="swiper-custom-bg bg-gray-25"></div>
    </section>