<!-- Page Footer-->
<footer class="section footer-corporate context-dark">
    <div class="container">
      <div class="section-lg">
        <div class="row row-50 justify-content-sm-between">
          <div class="col-sm-6 col-md-4 col-xl-3">
            <h6 class="footer-corporate-title oh-desktop"><span class="d-inline-block wow slideInUp">About Us</span></h6>
            <p class="wow fadeInRight">PreSteel is a worldwide award-winning and recognized supplier of high-quality steel products and services.</p>
            <ul class="list-inline footer-social-list footer-social-list-2 footer-social-list-4">
              <li><a class="icon mdi mdi-facebook" href="#"></a></li>
              <li><a class="icon mdi mdi-twitter" href="#"></a></li>
              <li><a class="icon mdi mdi-instagram" href="#"></a></li>
              <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
            </ul>
          </div>
          <div class="col-sm-5 col-md-4 col-lg-3">
            <h6 class="footer-corporate-title oh-desktop"><span class="d-inline-block wow slideInUp">Get in Touch</span></h6>
            <ul class="footer-creative-contacts d-inline-block d-md-block">
              <li class="wow fadeInLeft">
                <p class="footer-creative-contacts-title">Free consultation</p><a class="phone" href="tel:#">+1 718-999-3939</a>
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".05s">
                <p class="footer-creative-contacts-title">Address</p><a class="address" href="#">514 S. Magnolia St. Orlando, FL 32806</a>
              </li>
              <li class="wow fadeInLeft" data-wow-delay=".1s">
                <p class="footer-creative-contacts-title">E-mail</p><a class="mail" href="mailto:#">infodemolink.org</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="footer-corporate-title oh-desktop"><span class="d-inline-block wow slideInUp">Useful links</span></h6>
            <ul class="footer-corporate-list d-inline-block d-sm-block wow fadeInUp">
              <li><a href="about-us.html">Our History</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="grid-blog.html">Latest News</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="contacts.html">Contact Us</a></li>
              <li><a href="#">Steel Cladding</a></li>
              <li><a href="#">Steel Fabrication</a></li>
              <li><a href="#">Welding</a></li>
              <li><a href="#">Steel Design</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-corporate-panel">
      <div class="container">
        <!-- Rights-->
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy policy</a></p>
      </div>
    </div>
  </footer>